{% extends "layout.html" %}

{% block body %}

    <form action="/score" method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="string1" placeholder="String">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="string2" placeholder="String">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Score</button>
        </div>
    </form>

{% endblock %}
